.modal {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    position: relative;
    overflow: auto;
    width: 450px;
    padding: 20px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    background-color: white;
    border-radius: 2%;
}

.modal-wrapper h1 {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Work Sans';
    font-weight: lighter;
}

.fa-xmark, .fa-trash-can {
    position: absolute;
    right: 2%;
    top: 2%;
}

.modal-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin: 50px;
}

.modal-img img {
    width: 100%;
}

.modal-img figure {
    position: relative;
}

.fa-trash-can {
    background-color: black;
    color: white;
    padding: 2px;
}

.modal-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: lightgray 2px solid;
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
}

#btn-ajout {
    width: 50%;
    background-color: #1D6154;
    color: white;
    border: #1D6154 1px solid;
    border-radius: 20%/100%;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
}

#btn-suppr {
    border: none;
    background-color: white;
    color: red;
    margin-top: 20px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inTitle, #categorie, form div {
    width: 70%;
    margin: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    background-color: #E8F1F6;
}

#inTitle, #categorie {
    border: none;
    box-shadow: 0 4px 8px 0 lightgray;
    background-color: white;
    height: 30px;
}

#ajout {
    display: none;
}

form div label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #CBD6DC;
    border-radius: 20%/100%;
    color: #306685;
    background-color: #CBD6DC;
    height: 30px;
    width: 50%;
    font-weight: bold;
}

.fa-image, form div label, form div p {
    margin-top: 10px;
}

.fa-image {
    color: #B9C5CC;
}

form div p {
    font-size: smaller;
    margin-bottom: 10px;
}

.fa-arrow-left {
    position: absolute;
    top: 2%;
    left: 2%;
}

#preview {
    width: 110px;
    height: 160px;
}